<head>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-30959321-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'UA-30959321-1');
</script>
	<title>{{ .Title }} | Headforwards</title>
	<link rel="stylesheet" href="/css/main.css" />
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="We provide software development outsourcing in the UK. We create dedicated teams to develop better systems whilst partnered with you">
	<link href="https://fonts.googleapis.com/css?family=Nunito+Sans:400,700" rel="stylesheet">
	<meta property="og:type" content="business.business">
	<meta property="og:title" content="Headforwards | Industry Leading Software Outsourcing, Onshore">
	<meta property="og:url" content="/">
	<meta property="og:image" content="/img/og-image.jpg"> -->
	
  <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>

</head>