{{ define "main" }}

<div class="ph3 bg-off-white">
	<div class="center mw6 pv3">
      <h1>Let's Talk</h1>

		{{ .Content }}

		<div class="flex-ns mb3">
	        	{{ range .Params.contact_entries }}
				<div>
					<h4 class="f4 b lh-title mb2 primary">{{ .heading }}</h4>
					<p>{{ .text }}</p>
				</div>
			{{ end }}
		</div>

		{{ partial "contact-form" . }}
      
      </div>
</div>
<div class="w-100">
<p class="tc f2 w-100 mw9">Find Us</p>
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d6966.699211809011!2d-5.2748259873687795!3d50.22590243610734!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x486b2020c2046a63%3A0x2e9abde5167232ca!2sHeadforwards!5e0!3m2!1sen!2suk!4v1525103473031" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
</div>

{{ end }}
